<div class="container" fxLayout="column" fxLayout.md="row" fxLayoutGap="20px">
    <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column"  fxLayout="row wrap" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px" >
        <div fxFlex.lt-md="100" fxFlex="23" >Card</div>
        <div fxFlex.lt-md="100" fxFlex="23" >Card</div>
        <div fxFlex.lt-md="100" fxFlex="23" >Card</div>
        <div fxFlex.lt-md="100" fxFlex="23" >Card</div>
        <div fxFlex.lt-md="100" fxFlex="23" >Card</div>
        <div fxFlex.lt-md="100" fxFlex="23" >Card</div>
    </div>
    <!-- <div class="cardWrap" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50" fxLayoutAligmnet="space-between center" fxLayoutGap="20px" >
        <div fxFlex.lt-md="100" fxFlex="35" >Card</div>
        <div fxFlex.lt-md="100" fxFlex="35" >Card</div>
        <div fxFlex.lt-md="100" fxFlex="35" >Card</div>
    </div> -->
 </div>